---
layout: "base.njk"
title: carott-turnip.de
---

<h1>Ich bin Karrotenruebe</h1>

<p class="p-note">
  <em>und dies ist meine Website</em>
</p>

<h4>Suchst du mich?</h4>
<p>
  Also, ich such dich nicht, aber du kannst mich hier finden:<br />
  Steam
  <a
    class="u-url"
    href="https://steamcommunity.com/profiles/76561199729741923"
    rel="me"
    >@Karrotenruebe</a
  ><br />
</p>

<div>
  <h4>Wunschliste</h4>
  <p>
    Wenn du mir Geld schenken möchtest dann kauf mir doch irgendwas von der
    <a
      href="https://store.steampowered.com/wishlist/profiles/76561199729741923/"
      rel="me"
      >Steam Wunschliste</a
    >.
  </p>
</div>